@import "../variables";

.header {
}

.navbar {
  display: flex;
  justify-content: space-between;

  &__logo {
    margin-top: 55px;
  }
}

.menu {
  display: flex;
  background-image: url("/images/index-background-desktop.jpg");
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 50%;

  &__item:first-child {
    margin-left: 100px;
  }

  &__item {
    margin-top: 75px;
    margin-left: 35px;
    height: 20px;
  }
}

.item {
  &__text {
    color: $white-color;
    text-decoration: none;
    text-transform: uppercase;
  }
}
