<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./main.css")
        link(rel="stylesheet", href="./reset.css")
        title Cat Energy
    body
        header.header
            .container
                .header__navbar.navbar
                    .navbar__logo.logo
                        .logo__img img(src="", alt="logo")
                        p.logo__name Cat Energy
                    .navbar__menu.menu
                        .menu__item.item
                            p.item__text Главная
                        .menu__item
                             p.item__text Каталог продукции
                        .menu__item
                             p.item__text Подбор Программы
                .header__preview.preview
                    h1.preview__title Функциональное питание для котов
                    p.preview__description Занялся собой? Займись котом!
                    button.preview__button Подобрать программу

        section.content 
            .container
                .content__card.card
                    .card__header
                        .card__img 
                            img(src="", alt="slim-cat")
                        h2.card__title Похудение
                    p.card__description Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.
                    .card__link
                        a(href="http://#", target="_blank", rel="noopener noreferrer") Каталог Slim 	&#8594; 

                .content__card.card
                    .card__header
                        .card__img
                            img(src="", alt="fat-cat")
                        h2.card__title Набор массы
                    p.card__description Заработать авторитет среди дворовых котов и даже собак?
                                        Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!
                    .card__link
                        a(href="http://#", target="_blank", rel="noopener noreferrer") Каталог Pro 	&#8594;

                .content__advantages.advantages
                    h2.advantages__title Как это работает 
                    

