section.example
    .container
        .example__title
            h2 Живой пример
        .example__effect.effect
            .effect__unit.unit
                .unit__description
                    p Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.
                .unit__result.result
                    .result__item
                        h3.item__title 5кг
                        p.item__root снижение веса
                    .result__item
                        h3.item__title 60 дней
                        p.item__root затрачено времени
                .unit__cost.cost
                    .cost__title
                        p Затраты на питание
                    .cost__order
                        p 15 000 руб.    
            .effect__unit.unit
                .unit__img
                    img(src="", alt="cat")
                .unit__input
                    input#(type="range", name="result")
            

