header.header
    .container
        .header__navbar.navbar
            .navbar__logo.logo
                .logo__img img(src="", alt="logo")
                p.logo__name Cat Energy
            .navbar__menu.menu
                .menu__item.item
                    p.item__text Главная
                .menu__item
                        p.item__text Каталог продукции
                .menu__item
                        p.item__text Подбор Программы
                        
       .header__preview.preview
            h1.preview__title Функциональное питание для котов
            p.preview__description Занялся собой? Займись котом!
            button.preview__button Подобрать программу


