header.header
    .container
        .header__navbar.navbar
            .navbar__logo.logo
                .logo__img img(src="", alt="logo")
                p.logo__name Cat Energy
            .navbar__menu.menu
                .menu__item.item
                    p.item__text Главная
                .menu__item
                        p.item__text Каталог продукции
                .menu__item
                        p.item__text Подбор Программы
     


